In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
df =  pd.read_csv('Social_Network_Ads.csv')

In [19]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [20]:
df = df.drop("Gender", axis=1)

In [21]:
df

      User ID  Age  EstimatedSalary  Purchased
0    15624510   19            19000          0
1    15810944   35            20000          0
2    15668575   26            43000          0
3    15603246   27            57000          0
4    15804002   19            76000          0
..        ...  ...              ...        ...
395  15691863   46            41000          1
396  15706071   51            23000          1
397  15654296   50            20000          1
398  15755018   36            33000          0
399  15594041   49            36000          1

[400 rows x 4 columns]

In [22]:
from sklearn.model_selection import train_test_split

In [25]:
x , y = df.drop("Purchased", axis=1), df["Purchased"]

In [28]:
xtrain,xtest, ytrain, ytest =  train_test_split(x, y,test_size=0.25, random_state=0)

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
model = LogisticRegression()

In [30]:
model.fit(xtrain, ytrain)

LogisticRegression()

In [31]:
ypred = model.predict(xtest)

In [32]:
ypred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1], dtype=int64)

In [43]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import cunfusion_matrix 
from sklearn.metrics import classification_report

ImportError: cannot import name 'cunfusion_matrix' from 'sklearn.metrics' (C:\Users\Soft Access\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\__init__.py)

In [38]:
accuracy_score(ytest, ypred)

0.81